.contact-communication-tab {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: var(--spacing-sm);

  &-header {
    display: flex;
    justify-content: flex-end;
    padding: 0 var(--spacing-xs);
  }

  .set-primary-btn {
    opacity: 0;
    transition: var(--transition);
    pointer-events: none;
  }

  .wt-table tr:hover .set-primary-btn {
    opacity: 1;
    pointer-events: auto;
  }
}
