.contact-communication-tab {
  flex-grow: 1;
  display: flex;

  .set-primary-btn {
    opacity: 0;
    pointer-events: none;
    transition: var(--transition);
  }

  .wt-table__tr:hover .set-primary-btn {
    opacity: 1;
    pointer-events: auto;
  }
}
