@import '@webitel/ui-sdk/src/css/main';

//disables scrollbar on 100vh auth on small laptops
body {
  @extend %wt-scrollbar;
  @extend %typo-body-1;
  display: flex;
  min-width: 100%;
  min-height: 100%;
  color: var(--text-main-color);
  background: var(--wt-page-wrapper-background-color);
}

#app {
  min-width: 100%;
  min-height: 100%;
}

.wt-page-wrapper {
  flex-grow: 1;
  display: flex;
  max-height: 100%;

  :deep(.wt-page-wrapper__main) {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 0;
  }
}

.table-wrapper {
  flex-grow: 1;
  display: flex;
  padding-top: var(--spacing-xs);
  flex-direction: column;
  gap: var(--spacing-xs);
  max-height: 100%;
  min-height: 0;
  min-width: 0;

  .wt-table {
    flex-grow: 1;

    .wt-table__head {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}

.wt-dummy {
  flex-grow: 1;
}

* {
  box-sizing: border-box;
}

//reset ul styles
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

iframe {
  border: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.mb-0 {
  margin-bottom: 0;
}

// helper class
.no-padding {
  padding: 0;
}

.box-shadow {
  //box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2), 0px 3px 16px rgba(0, 0, 0, 0.12), 0px 9px 12px rgba(0, 0, 0, 0.14);
  box-shadow: rgba(0, 0, 0, 0.08) 0 8px 18px;
}

.icon-action {
  cursor: pointer;

  &:before {
    transition: var(--transition);
  }

  &:hover:before {
    color: #000;
  }
}

// helper underline class
.border-underline {
  position: relative;

  &:before {
    position: absolute;
    right: 0;
    bottom: 6px;
    left: 0;
    height: 1px;
    content: '';
  }
}

$scrollbar-bg-color: #EAEAEA;
$srollbar-thumb-color: var(--primary-color);
$srollbar-border-radius: 4px;

.scrollbar {
  // scrollbar itself
  &::-webkit-scrollbar {
    width: 4px;
    height: 6px;
    cursor: pointer;
    background-color: $scrollbar-bg-color;
  }

  // scrollable element
  &::-webkit-scrollbar-thumb {
    width: 4px;
    height: 6px;
    border-radius: $srollbar-border-radius;
    background-color: $srollbar-thumb-color;
  }
}

.hidden {
  pointer-events: none;
  opacity: 0;
}

.value-pair-wrap {
  position: relative;
}
