@use '@webitel/ui-sdk/src/css/main' as *;

//disables scrollbar on 100vh auth on small laptops
body {
  @extend %wt-scrollbar;
  @extend %typo-body-1;
  display: flex;
  min-width: 100%;
  min-height: 100%;
  color: var(--text-main-color);
  background: var(--wt-page-wrapper-background-color);
}

#app {
  min-width: 100%;
  min-height: 100%;
}

.table-wrapper {
  flex-grow: 1;
  display: flex;
  padding-top: var(--spacing-xs);
  flex-direction: column;
  gap: var(--spacing-xs);
  max-height: 100%;
  min-height: 0;
  min-width: 0;

  .wt-table {
    flex-grow: 1;

    .wt-table__head {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}

.wt-dummy {
  flex-grow: 1;
}

* {
  box-sizing: border-box;
}

//reset ul styles
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

iframe {
  border: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}


.wt-page-wrapper {
  width: 100%;

  &__main {
    flex-grow: 1;
    display: flex;
    max-height: 100%;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    & > section {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}
