:root {
  --icon-color-red: var(--red-darken-2);
  --icon-color-pink: var(--pink-darken-2);
  --icon-color-purple: var(--purple-darken-2);
  --icon-color-deep-purple: var(--deep-purple-darken-2);
  --icon-color-indigo: var(--indigo-darken-2);
  --icon-color-blue: var(--blue-darken-2);
  --icon-color-light-blue: var(--light-blue-darken-2);
  --icon-color-cyan: var(--cyan-darken-2);
  --icon-color-teal: var(--teal-darken-2);
  --icon-color-green: var(--green-darken-2);
  --icon-color-light-green: var(--light-green-darken-2);
  --icon-color-lime: var(--lime-darken-2);
  --icon-color-yellow: var(--yellow-darken-2);
  --icon-color-amber: var(--amber-darken-2);
  --icon-color-orange: var(--orange-darken-2);
  --icon-color-deep-orange: var(--deep-orange-darken-2);
}
