
.config-nav__category {
  height: 100%;
  border-radius: var(--border-radius);
}

.config-nav__category-option__wrapper {
  &:not(:last-child) {
    margin-bottom: var(--spacing-2xs);
  }
}

.config-nav__category-option {
  @extend %typo-subtitle-2;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--spacing-xs) var(--spacing-sm);
  transition: var(--transition);
  text-align: left;
  color: var(--text-main-color);
  border-radius: var(--border-radius);

  .wt-icon {
    margin-right: var(--spacing-xs);
  }
}
